<div class="container my-5">
  <h1 class="mb-3">Cadastrar Cliente</h1>

  <form #form="ngForm" (ngSubmit)="addProprietario()">
    <div class="row">
      <div class=" col mb-3">
        <h2>Dados Pessoais</h2>

        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name"
              [(ngModel)]="addProprietarioRequest.nome" name="nome">
        <label for="name" class="form-label">CPF</label>
        <input type="text" class="form-control" id="name"
              [(ngModel)]="addProprietarioRequest.cpf" name="nome">
        <label for="name" class="form-label">RG</label>
        <input type="text" class="form-control" id="name"
              [(ngModel)]="addProprietarioRequest.rg" name="nome">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email"
              [(ngModel)]="addProprietarioRequest.email" name="nome">
        <label for="name" class="form-label">Telefone</label>
        <input type="text" class="form-control" id="name"
              [(ngModel)]="addProprietarioRequest.telefone" name="nome">
      <button type="submit" class="btn btn-success mt-3">Salvar</button>
      <button type="button" (click)="voltar()" class="btn btn-primary float-end mt-3">Voltar</button>
      </div>

      <div class="col mb-3">
        <h2>Endereço</h2>

        <label for="logradouro" class="form-label">Rua/Av</label>
        <input type="text" class="form-control" id="logradouro"
              [(ngModel)]="addProprietarioRequest.endereco.logradouro"
          name="logradouro">
        <label for="numero" class="form-label">Numero</label>
          <input type="number" class="form-control" id="numero"
                [(ngModel)]="addProprietarioRequest.endereco.numero"
            name="numero">
        <label for="complemento" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="complemento"
              [(ngModel)]="addProprietarioRequest.endereco.complemento"
          name="complemento">
        <label for="bairro" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="bairro"
              [(ngModel)]="addProprietarioRequest.endereco.bairro"
          name="bairro">
        <label for="cidade" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="cidade"
              [(ngModel)]="addProprietarioRequest.endereco.cidade"
          name="cidade">
        <label for="estado" class="form-label">Estado</label>
        <input type="text" class="form-control" id="estado"
              [(ngModel)]="addProprietarioRequest.endereco.estado"
          name="estado">
        <label for="cep" class="form-label">CEP</label>
        <input type="text" class="form-control" id="cep"
              [(ngModel)]="addProprietarioRequest.endereco.cep"
          name="cep">
      </div>
    </div>
  </form>
</div>
