<div class="container my-5">
  <h1 class="mb-3">Editar Detalhes do Serviço</h1>

  <form #form="ngForm" (ngSubmit)="addServico()">
    <div class="row">
      <label for="nome" class="form-label">Valor</label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="servicoForm.valor" name="nome">

      <label for="modelo" class="form-label">Descrição</label>
      <input type="text" class="form-control" id="modelo" [(ngModel)]="servicoForm.descricao" name="modelo">
    </div>
    <div>
      <button type="submit" class="btn btn-success mt-3">Salvar</button>
      <button type="button" (click)="voltar()" class="btn btn-primary mt-3">Voltar</button>
    </div>
  </form>
</div>
