<div class="container my-3 ">
  <div class="row">
    <div class="col mb-5">
      <h1 class="mb-3">Carros de {{nomeProprietario}}</h1>
    </div>
    <div class="col-4">
      <button class="btn btn-primary float-end" (click)="addVeiculo()">Novo Veiculo</button>
      <button class="btn btn-secondary float-end me-2" routerLink="" (click)="voltar()">Voltar</button>
    </div>
  </div>
  <table class="table" *ngIf="veiculos && veiculos.length > 0">
    <thead>
      <tr>
        <th class="col-3"></th>
        <th class="col"></th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let veiculo of veiculos">
        <td>{{veiculo.nome}}</td>
        <td><button type="button" class="btn btn-primary"
            [routerLink]="['/veiculos', 'edit', veiculo.id]">Informações</button></td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!veiculos || veiculos.length <= 0">Nenhum Veiculo cadastrado</p>
</div>

