<div class="container my-5">
  <h1 class="mb-3">Editar Informações do Veiculo</h1>

  <form #form="ngForm" (ngSubmit)="updateVeiculo()">
    <div class="row">
      <h2>Veiculo</h2>

      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" [(ngModel)]="veiculoForm.nome" name="nome">

      <label for="modelo" class="form-label">Modelo</label>
      <input type="text" class="form-control" id="modelo" [(ngModel)]="veiculoForm.modelo" name="modelo">

      <label for="ano" class="form-label">Ano</label>
      <input type="text" class="form-control" id="ano" [(ngModel)]="veiculoForm.ano" name="ano">

      <label for="cor" class="form-label">Cor</label>
      <input type="text" class="form-control" id="cor" [(ngModel)]="veiculoForm.cor" name="cor">

      <label for="placa" class="form-label">Placa</label>
      <input type="text" class="form-control" id="placa" [(ngModel)]="veiculoForm.placa" name="placa">
    </div>
    <div>
      <button type="submit" class="btn btn-success mt-3">Salvar</button>
      <button type="button" (click)="deletarVeiculo(veiculoForm.id)" class="btn btn-danger mx-3 mt-3">Deletar</button>
      <button type="button" (click)="voltar()" class="btn btn-primary mt-3">Voltar</button>
    </div>
  </form>
</div>
