<div class="container-fluid" style="margin-top: 10%;">
  <div class="row">
    <div class="offset-lg-3 col-lg-6">

      <div class="card-box py-4" style="background-color: #DDD;">
        <form [formGroup]="account" (ngSubmit)="onSubmit()">

          <div class="row" style="display: block;">
            <h2 style="text-align: center;">Criar Conta</h2>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="offset-lg-1">
                  <label for="username">Nome de Usuario</label>
                  <input type="text" class="form-control" name="usurname" id="username" formControlName="username"
                    placeholder="Insira o nome de usuario" autocomplete="off" required>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-1">
                  <label for="password">Senha</label>
                  <input type="password" class="form-control" name="password" id="password" formControlName="password"
                    placeholder="Insira a senha" autocomplete="off" required>
                </div>
              </div>
            </div>

            <div class="offset-lg-2 col-1" >
              <label class="btn btn-default" *ngIf="!imageSrc" flow-btn style="border-radius: 50%; height: 150px; width:150px; background-color: #fff; border: none;">
                  <input type="file" class="form-control" name="image" id="image" formControlName="image" style="display: none;" (change)="onFileChange($event)">
              </label>
              <label class="btn btn-default" *ngIf="imageSrc" flow-btn [ngStyle]="{'background-image':'url('+ imageSrc +')', 'background-size': '100% 100%'}" style="border-radius: 50%; height: 150px; width:150px; border: none;">
                <input type="file" class="form-control" name="image" id="image" formControlName="image" style="display: none;" (change)="onFileChange($event)">
              </label>
              <!-- <img [src]="imageSrc" *ngIf="imageSrc" class="ms-4 mt-4" style="height: 150px; width:140px; border-radius: 50%;"> -->
            </div>


          </div>

          <div class="row">
            <div class="offset-lg-3 col-lg-6" style="text-align: center;">
              <br>
              <div class="form-group" style="text-align: center;">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="account.invalid">Criar
                  Conta</button>
                <button type="button" class="btn btn-link btn-block" [routerLink]="['/login']">Voltar</button>
              </div>
            </div>
            <div class="col-lg-3">
              <br>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
